{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="mt-5">
        <h1>Sobre Nosotros</h1>
        <p class="lead">Esta página web está dedicada a ofrecer información y recursos sobre [tema de la página].</p>

        <h2>Nuestra Misión</h2>
        <p>Nuestra misión es proporcionar a los usuarios una plataforma fácil de usar y eficiente para [objetivo de la página web].</p>

        <h2>Creado por</h2>
        <p>Este sitio ha sido desarrollado por [tu nombre] como parte de un proyecto personal/profesional.</p>

        <h2>Contacto</h2>
        <p>Email: <a href="mailto:tuemail@example.com">tuemail@example.com</a></p>
    </div>
{% endblock %}
