{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="mt-5">
        <h1>Functionality</h1>
        <p>This webpage allows you to view feature models (FM) from Kubernetes manifests and Dockerfiles. 
            It also enables you to create a file that contains a configuration for direct deployment in Kubernetes or 
            Docker. To do this, it requires a configuration file of its respective FM that must be uploaded to the page.
        </p>
        
        <p>Additionally, it allows you to check for errors in the definition of this configuration.</p>
        
    </div>
{% endblock %}
