
{%if HORIZONTALPODAUTOSCALERSPEC_scaleTargetRef%}scaleTargetRef:
  {%if HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_apiVersion%} apiVersion: {{HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_apiVersion}} {%endif%}
  {%if HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_kind%} kind: {{HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_kind}} {%endif%}
  {%if HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_name%} name: {{HORIZONTALPODAUTOSCALERSPEC_SCALETARGETREF_name}} {%endif%}
{%endif%}

{%if HORIZONTALPODAUTOSCALERSPEC_maxReplicas%}maxReplicas: {{HORIZONTALPODAUTOSCALERSPEC_maxReplicas}}{%endif%}

{%if HORIZONTALPODAUTOSCALERSPEC_minReplicas%}minReplicas: {{HORIZONTALPODAUTOSCALERSPEC_minReplicas}}{%endif%}

{%if HORIZONTALPODAUTOSCALERSPEC_metrics%}metrics:
{%for m in HORIZONTALPODAUTOSCALERSPEC_metrics%}
  - type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_TYPE_containerResource}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_TYPE_external}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_TYPE_object}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_TYPE_pods}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_TYPE_resource}}
    
    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_containerResource%}containerResource:
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_container%}container: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_container}}{%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_name}}{%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_target%}target: 
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_type%}type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_TYPE_AverageValue}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_TYPE_Utilization}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_TYPE_Value}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_averageUtilization%}averageUtilization: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_averageUtilization}}{%endif%}      
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_averageValue%}averageValue: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_averageValue}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_value%}value: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_CONTAINERRESOURCE_TARGET_value}}{%endif%}
      {%endif%}
    {%endif%}

    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_external%}external:
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_metric%}metric:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_name}} {%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_selector%}selector:
          {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_SELECTOR_matchlabels%}matchLabels:
          {%for l in m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_SELECTOR_matchlabels%}
            {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_SELECTOR_MATCHLABELS_key}}: {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_SELECTOR_MATCHLABELS_value}}
          {%endfor%}
          {%endif%}
        {%endif%}
      {%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_target%}target:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_type%}type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_TYPE_AverageValue}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_TYPE_Utilization}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_TYPE_Value}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_averageUtilization%}averageUtilization: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_averageUtilization}}{%endif%}      
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_averageValue%}averageValue: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_averageValue}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_value%}value: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_EXTERNAL_TARGET_value}}{%endif%}
      {%endif%}
    {%endif%}

    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_object%}object:
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_describedObject%}describedObject:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_apiVersion%}apiVersion: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_apiVersion}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_kind%}kind: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_kind}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_DESCRIBEDOBJECT_name}}{%endif%}
      {%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_metric%}metric:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_name}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_selector%}selector:
          {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_SELECTOR_matchlabels%}matchLabels:
          {%for l in m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_SELECTOR_matchlabels%}
            {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_SELECTOR_MATCHLABELS_key}}: {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_SELECTOR_MATCHLABELS_value}}
          {%endfor%}
          {%endif%}
        {%endif%}
      {%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_target%}target:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_type%}type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_TYPE_AverageValue}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_TYPE_Utilization}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_TYPE_Value}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_averageUtilization%}averageUtilization: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_averageUtilization}}{%endif%}      
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_averageValue%}averageValue: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_averageValue}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_value%}value: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_OBJECT_TARGET_value}}{%endif%}
      {%endif%}
    {%endif%}

    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_pods%}pods:
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_metric%}metric: 
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_name}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_selector%}selector:
          {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_SELECTOR_matchlabels%}matchLabels:
          {%for l in m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_SELECTOR_matchlabels%}
            {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_SELECTOR_MATCHLABELS_key}}: {{l.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_SELECTOR_MATCHLABELS_value}}
          {%endfor%}
          {%endif%}
        {%endif%}
      {%endif%}
      {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_target%}target:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_type%}type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_TYPE_AverageValue}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_TYPE_Utilization}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_TYPE_Value}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_averageUtilization%}averageUtilization: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_averageUtilization}}{%endif%}      
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_averageValue%}averageValue: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_averageValue}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_value%}value: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_PODS_TARGET_value}}{%endif%}
      {%endif%}
    {%endif%}

    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_resource%}resource:
    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_name%}name: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_name}}{%endif%}
    {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_target%}target:
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_type%}type: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_TYPE_AverageValue}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_TYPE_Utilization}}{{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_TYPE_Value}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_averageUtilization%}averageUtilization: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_averageUtilization}}{%endif%}      
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_averageValue%}averageValue: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_averageValue}}{%endif%}
        {%if m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_value%}value: {{m.HORIZONTALPODAUTOSCALERSPEC_METRICS_RESOURCE_TARGET_value}}{%endif%}
      {%endif%}
    {%endif%}

{%endfor%}
{%endif%}

{%if HORIZONTALPODAUTOSCALERSPEC_behavior%}behavior:
  {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_scaleDown%}scaleDown:
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_policies%}policies:
    {%for p in HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_policies%}
      - {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_type%}type: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_type}}{%endif%}
        {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_periodSeconds%}periodSeconds: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_periodSeconds}} {%endif%}
        {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_value%}value: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_POLICIES_value}}{%endif%}
    {%endfor%}
    {%endif%}
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_selectPolicy%}selectPolicy: {{HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_selectPolicy}}{%endif%}
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_stabilizationWindowSeconds%}stabilizationWindowSeconds: {{HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEDOWN_stabilizationWindowSeconds}}{%endif%}
  {%endif%}

  {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_scaleUp%}scaleUp:
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_policies%}policies:
    {%for p in HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_policies%}
      - {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_type%}type: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_type}}{%endif%}
        {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_periodSeconds%}periodSeconds: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_periodSeconds}} {%endif%}
        {%if p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_value%}value: {{p.HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_POLICIES_value}}{%endif%}
    {%endfor%}
    {%endif%}
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_selectPolicy%}selectPolicy: {{HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_selectPolicy}}{%endif%}
    {%if HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_stabilizationWindowSeconds%}stabilizationWindowSeconds: {{HORIZONTALPODAUTOSCALERSPEC_BEHAVIOR_SCALEUP_stabilizationWindowSeconds}}{%endif%}
  {%endif%}
{%endif%}