
{%if rules%}rules:
{%for r in rules%}
  - apiGoups: [{%for api in r.RULES_apiGroups%}"{{api.RULES_APIGROUPS_value}}",{%endfor%}]
    {%if r.RULES_resources%}resources: [{%for res in r.RULES_resources%}"{{res.RULES_RESOURCES_value}}"{%endfor%},] {%endif%}
    {%if r.RULES_nonResourceURLs%}nonResourceURLs: [{%for non in r.RULES_nonResourceURLs%}"{{non.RULES_NONRESOURCEURLS_value}}",{%endfor%}]{%endif%}
    {%if r.RULES_resourceNames%}resourceNames: [{%for rsc in r.RULES_resourceNames%}"{{rsc.RULES_RESOURCENAMES_value}}",{%endfor%}]{%endif%}
    {%if r.RULES_verbs%}verbs: [{%for v in r.RULES_verbs%}"{{v.RULES_VERBS_value}}",{%endfor%}] {%endif%}
{%endfor%}
{%endif%}

{%if aggregationRule%}aggregationRule:
  clusterRoleSelectors:
    {%if CLUSTERROLESELECTORS_matchExpressions%}- matchExpressions:
    {%for ex in CLUSTERROLESELECTORS_matchExpressions%}
      - key: {{ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_key}}
        operator: {{ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_In}}{{ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_NotIn}}{{ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_Exists}}{{ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_DoesNotExist}}
        values: [{%for v in ex.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_values%}"{{v.CLUSTERROLESELECTORS_MATCHEXPRESSIONS_VALUES_value}}",{%endfor%}]
    {%endfor%}
    {%endif%}

    {%if CLUSTERROLESELECTORS_matchLabels%}- matchLabels:
    {%for lab in CLUSTERROLESELECTORS_matchLabels%}
        {{lab.CLUSTERROLESELECTORS_MATCHLABELS_key}}: "{{lab.CLUSTERROLESELECTORS_MATCHLABELS_value}}"
    {%endfor%}
    {%endif%}
{%endif%}