
{%if automountServiceAccountToken%}automountServiceAccountToken: true {%else%}automountServiceAccountToken: false{%endif%}

{%if imagePullSecrets%}imagePullSecrets:
{%for i in imagePullSecrets%}
  - name: {{i.IMAGEPULLSECRETS_name}}
{%endfor%}
{%endif%}

{%if secrets%}secrets:
{%for s in secrets%}
  - name: {{s.SECRETS_name}}
{%endfor%}
{%endif%}