
{%if PODDISRUPTIONBUDGETSPEC_unhealthyPodEvictionPolicy%}unhealthyPodEvictionPolicy: {{PODDISRUPTIONBUDGETSPEC_UNHEALTHYPODEVICTIONPOLICY_IfHealthyBudget}}{{PODDISRUPTIONBUDGETSPEC_UNHEALTHYPODEVICTIONPOLICY_AlwaysAllow}}{%endif%}

{%if PODDISRUPTIONBUDGETSPEC_maxUnavailable%}maxUnavailable: {{PODDISRUPTIONBUDGETSPEC_maxUnavailable}}{%endif%}

{%if PODDISRUPTIONBUDGETSPEC_minAvailable%}minAvailable: {{PODDISRUPTIONBUDGETSPEC_minAvailable}}{%endif%}

{%if PODDISRUPTIONBUDGETSPEC_selector%}selector:
  {%if PODDISRUPTIONBUDGETSPEC_SELECTOR_matchExpressions%}matchExpressions:
  {%for ex in PODDISRUPTIONBUDGETSPEC_SELECTOR_matchExpressions%}
    - {%if ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_key%}key: {{ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_key}}{%endif%}
      {%if ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_operator%}operator: {{ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_In}}{{ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_NotIn}}{{ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_Exist}}{{ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_DoesNotExist}}{%endif%}
      {%if ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_values%}values:
      {%for v in ex.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_values%} 
        - {{v.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHEXPRESSIONS_VALUES_value}}
      {%endfor%}
      {%endif%}
  {%endfor%}
  {%endif%}

  {%if PODDISRUPTIONBUDGETSPEC_SELECTOR_matchLabels%}matchLabels:
  {%for l in PODDISRUPTIONBUDGETSPEC_SELECTOR_matchLabels%}
    {{l.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHLABELS_key}}: {{l.PODDISRUPTIONBUDGETSPEC_SELECTOR_MATCHLABELS_value}}
  {%endfor%}
  {%endif%}
{%endif%}