
{%if RESOURCEQUOTASPEC_hard%}hard:
  {%if RESOURCEQUOTASPEC_HARD_cpu%}cpu: {{RESOURCEQUOTASPEC_HARD_cpu}}{%endif%}
  {%if RESOURCEQUOTASPEC_HARD_memory%}memory: {{RESOURCEQUOTASPEC_HARD_memory}}{%endif%}
  {%if RESOURCEQUOTASPEC_HARD_pods%}pods: {{RESOURCEQUOTASPEC_HARD_pods}}{%endif%}
{%endif%}

{%if RESOURCEQUOTASPEC_scopeSelector%}scopeSelector:
  {%if RESOURCEQUOTASPEC_SCOPESELECTOR_matchExpressions%}matchExpressions:
  {%for ex in RESOURCEQUOTASPEC_SCOPESELECTOR_matchExpressions%}
    - {%if ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_scopeName%}scopeName: {{ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_scopeName}}{%endif%}
      {%if ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_operator%}operator: {{ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_OPERATOR_In}}{{ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_OPERATOR_NotIn}}{{ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_OPERATOR_Exist}}{{ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_OPERATOR_DoesNotExist}}{%endif%}
      {%if ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_values%}values:
      {%for v in ex.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_values%}
        - {{v.RESOURCEQUOTASPEC_SCOPESELECTOR_MATCHEXPRESSIONS_VALUES_value}}
      {%endfor%}
      {%endif%}
  {%endfor%}
  {%endif%}
{%endif%}

{%if RESOURCEQUOTASPEC_scopes%}scopes: 
{%for s in RESOURCEQUOTASPEC_scopes%}
  - {{s.RESOURCEQUOTASPEC_scopes}}
{%endfor%}
{%endif%}