{%if data%}data:
  {%for d in data%}
  {%if d.DATA_confSimple%}{{d.CONFSIMPLE_key}}: {{d.CONFSIMPLE_value}}{%endif%}
  {%if d.DATA_confFile%}{{d.CONFFILE_name}}: |
    {{d.CONFFILE_value}}
  {%endif%}
  {%endfor%}
{%endif%}

{%if immutable%}immutable: {%if IMMUTABLE_boolean%}true{%else%}false{%endif%}{%endif%}

{%if stringData%}stringData:
  {%for s in stringData%}
  {{s.STRINGDATA_key}}: {{s.STRINGDATA_value}}
  {%endfor%}
{%endif%}

{%if type%}type: {{type}}{%endif%}