
{%if PRESISTENTVOLUMECLAIMSPEC_accessModes%}accessModes: 
  {%for ac in PRESISTENTVOLUMECLAIMSPEC_accessModes%}- {{ac.PRESISTENTVOLUMECLAIMSPEC_ACCESSMODES_accessMode}} {%endfor%}
{%endif%} 

{%if PRESISTENTVOLUMECLAIMSPEC_resources%}resouorces:
  {%if PRESISTENTVOLUMECLAIMSPEC_RESOURCES_requests%}requests:
    {%if PRESISTENTVOLUMECLAIMSPEC_RESOURCES_REQUESTS_storage%}storage: {{PRESISTENTVOLUMECLAIMSPEC_RESOURCES_REQUESTS_storage}}{%endif%}
  {%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_RESOURCES_limits%}limits:
    {%if PRESISTENTVOLUMECLAIMSPEC_RESOURCES_LIMITS_storage%}storage: {{PRESISTENTVOLUMECLAIMSPEC_RESOURCES_LIMITS_storage}}{%endif%}
  {%endif%}
{%endif%}

{%if PRESISTENTVOLUMECLAIMSPEC_dataSource%}datasource:
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_name%}name: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_name}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_kind%}kind: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_kind}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_apigroup%}apiGroup: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCE_apigroup}}{%endif%}
{%endif%}

{%if PRESISTENTVOLUMECLAIMSPEC_dataSourceRef%}datasourceRef:
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_name%}name: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_name}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_kind%}kind: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_kind}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_apigroup%}apiGroup: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_apigroup}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_namespace%}namespace: {{PRESISTENTVOLUMECLAIMSPEC_DATASOURCEREF_namespace}}{%endif%}
{%endif%}

{%if PRESISTENTVOLUMECLAIMSPEC_selector%}selector:

  {%if PRESISTENTVOLUMECLAIMSPEC_SELECTOR_matchLabels%}matchlabels:
  {%for lab in PRESISTENTVOLUMECLAIMSPEC_SELECTOR_matchLabels%}
    - {{lab.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHLABELS_key}}: {{lab.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHLABELS_value}}
  {%endfor%}
  {%endif%}

  {%if PRESISTENTVOLUMECLAIMSPEC_SELECTOR_matchExpressions%}matchExpresions:
  {%for exp in PRESISTENTVOLUMECLAIMSPEC_SELECTOR_matchExpressions%}
    - {%if exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_key%}key: {{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_key}} {%endif%}
      {%if exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_values%}values:
        {%for v in exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_values%}- {{v.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_value}}{%endfor%}
      {%endif%}
      {%if exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_operator%}operator: {{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_in}}{{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_notIn}}{{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_exist}}{{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_doesNotExist}}{{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_gt}}{{exp.PRESISTENTVOLUMECLAIMSPEC_SELECTOR_MATCHEXPRESSIONS_OPERATOR_lt}}{%endif%}
  {%endfor%}
  {%endif%}

  {%if PRESISTENTVOLUMECLAIMSPEC_storageClassName%}storageClassName: {{PRESISTENTVOLUMECLAIMSPEC_storageClassName}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_volumeAttributesClassName%}volumeAttributesClassName: {{PRESISTENTVOLUMECLAIMSPEC_volumeAttributesClassName}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_volumeMode%}volumeMode: {{PRESISTENTVOLUMECLAIMSPEC_volumeMode}}{%endif%}
  {%if PRESISTENTVOLUMECLAIMSPEC_volumeName%}volumeName: {{PRESISTENTVOLUMECLAIMSPEC_volumeName}}{%endif%}

{%endif%}